// ========== DEFINE MAIN VARIABLES ==============

// TRANSITIONS WITH DIFFRENT TIMES
$transition: all 0.5s ease-in-out;
$transition3: all 0.3s ease-in-out;
$transition7: all 0.7s ease-in-out;

/* MAIN FONT FAMILY */
$mainFontFamily: "Montserrat", sans-serif;
$secFontFamily: "Playfair Display", serif;

/* MAIN FONT SIZE */
$fontSize: clamp(14px , 2.5vw , 18px);

/* COLORS VARIABLES */
$mainColor: #EAA121; // main site color
$secColor: #F3F7FC; // secondary site color
// $textColor: #1F2327; // main text color
$btnColor:#4C637F;